# Electron - Dev build
electron/build

# Node modules
node_modules/

# Release
release
dist

# Backend (.NET)
backend/bin/
backend/obj/
backend/**/bin/
backend/**/obj/
backend/**/*.dll
backend/**/*.exe
backend/**/*.pdb
backend/**/*.user
backend/*.user
backend/**/*.userprefs
backend/.vs/
backend/.vscode/
backend/appsettings.Development.json
